.blog-posts {
  padding-left: 0;

  .published {
    color: var(--accent-main);
    font-weight: bold;
  }

  .post-item {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    list-style: none;
  }
  .post-item h3 {
    margin-bottom: 0.2rem;

    a {
      color: inherit;
    }
  }
}

article img {
  display: block;
  max-width: 100%;
  height: auto;
}
