<h3>Software Engineer | DevOps & Automation</h3>

<p>
  Versatile Software Engineer with over a decade of experience in software
  development, DevOps, and automation. Proven ability to design, develop, and
  optimize scalable systems, reducing operational overhead and improving
  performance. Passionate about problem-solving, automation, and infrastructure
  as code. Experienced in working remotely and collaborating with
  cross-functional teams to deliver efficient, maintainable solutions.
</p>
