<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="fediverse:creator" content="@ducks@hachyderm.io">
    <link rel="me" href="https://hachyderm.io/@ducks" />
    <meta name="author" content="Jake Goldsborough">
    <meta
      name="description"
      content="A blog about NixOS, self-hosting, Rust projects, and other tech musings. Maybe some meatspace stuff as well."
    >
    <meta name="keywords" content="NixOS, Linux, Rust, self-hosting, programming, tech blog, OSS">
    <title>
      {% if page.title %}
      {{ page.title }} -
      {% endif %}

      {{ config.title }}
    </title>

    <link rel="stylesheet" href="{{ get_url(path='css/style.css') }}" />

    {# Optional favicon #}
    <link rel="icon" href="{{ get_url(path='images/favicon.png') }}" />
  </head>
  <body>
    <header>
      <div class="theme-picker">
        <label aria-label="Dark theme">
          <input type="radio" name="theme" value="dark" />
          <span aria-hidden="true"></span>
        </label>
        <label aria-label="Light theme">
          <input type="radio" name="theme" value="light" />
          <span aria-hidden="true"></span>
        </label>
        <noscript>
          <label aria-label="Dark theme"><span aria-hidden="true">dark</span></label>
          <label aria-label="Light theme"><span aria-hidden="true">light</span></label>
        </noscript>
      </div>
      <h1>
        <a href="{{ get_url(path='resume') }}">{{ config.title }}</a>
      </h1>
      <nav>
        <a
          href="{{ get_url(path='blog') }}"
          class="{% if 'blog' in current_path %}active{% endif %}"
        >Blog</a>
        <span>|</span>
        <a
          href="{{ get_url(path='resume') }}"
          class="{% if 'resume' in current_path %}active{% endif %}"
          >Resume</a>
        <span>|</span>
        <a
          href="{{ get_url(path='contact') }}"
          class="{% if 'contact' in current_path %}active{% endif %}"
          >Contact</a>
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <script src="/js/main.js"></script>
    <script data-goatcounter="https://stats.jakegoldsborough.com/count"
        async src="//stats.jakegoldsborough.com/count.js"></script>
  </body>
</html>

