{% macro list_pages_recursively(section) %}
  {% set posts = [] %}
  {% set drafts = [] %}

  {# Separate drafts from non-drafts #}
  {% for page in section.pages %}
    {% if page.draft %}
      {% set_global drafts = drafts | concat(with=page) %}
    {% else %}
      {% set_global posts = posts | concat(with=page) %}
    {% endif %}
  {% endfor %}

  {# Sort non drafts #}
  {% set sorted = posts | sort(attribute="date") | reverse %}

  {% for page in sorted %}
    {% set_global cycle_counter = loop.index0 %}
    <li class="post-item">
      <h3><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
      <div class="meta">
        {% if page.date %}
        <p>{{ page.date | date(format="%b %d, %Y") }}</p>
        {% endif %}
        <p>{{ page.reading_time }} min read</p>
      </div>
      {% if page.description %}
        <p class="desc">{{ page.description }}</p>
      {% endif %}
      {% if page.taxonomies and page.taxonomies.tags %}
        <div class="tags">
          {% for tag in page.taxonomies.tags %}
          <p><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></p>
          {% endfor %}
        </div>
      {% endif %}
      {% if loop.index is odd %}
        {% if loop.index0 % 4 == 0 %}
          <div class="squiqqle-line"></div>
        {% else %}
          <div class="squiqqle-line alt1"></div>
        {% endif %}
      {% else %}
        {% if loop.index0 % 4 == 2 %}
          <div class="squiqqle-line alt2"></div>
        {% else %}
          <div class="squiqqle-line alt3"></div>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}

  {% for subsection_path in section.subsections %}
    {% set subsection = get_section(path=subsection_path) %}
    {{ self::list_pages_recursively(section=subsection) }}
  {% endfor %}

  {% for page in drafts %}
    <li class="post-item">
      <h3><a href="{{ page.permalink }}">{{ page.title }} (draft)</a></h3>
    </li>
  {% endfor %}
{% endmacro %}

